<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="/Admin/Home">
            <img src="~/assets/admin/images/icon/logo-blue.png" alt="Cool Admin" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li>

                    <i>ADMIN - ONEMOVIE</i>
                </li>
                <li>
                    <a href="/Admin/Movie">
                        <i class="fa fa-video-camera"></i>Quản Lý Phim
                    </a>
                </li>
                <li>
                    <a href="/Admin/Category">
                        <i class="fa fa-list-alt"></i>Quản Lý Thể Loại
                    </a>
                </li>
                <li>
                    <a href="/Admin/Country">
                        <i class="fa fa-list-alt"></i>Quản Lý Quốc Gia
                    </a>
                </li>
                <li>
                    <a href="/Admin/User">
                        <i class="fa fa-user"></i>Quản Lý Users
                    </a>
                </li>
              
                <li>
                    <a href="/Admin/New">
                        <i class="fa fa-rss"></i>Quản Lý Tin Tức
                    </a>
                </li>
                <li>
                    <a class="js-arrow" href="#">
                        <i class="fa fa-list"></i>Quản lý Chung
                    </a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list">

                        <li>
                            <a href="/Admin/GroupUser"><i class="fa fa-bar-chart-o"></i>Quản Phân Quyền</a>
                        </li>
                        <li>
                            <a href="/Admin/About"><i class="fa fa-columns"></i>Quản Lý Giới Thiệu</a>
                        </li>
                        <li>
                            <a href="/Admin/Slide"><i class="fa fa-bar-chart-o"></i>Quản Lý Slide</a>
                        </li>
                        <li>
                            <a href="/Admin/Contact"><i class="fa fa-table"></i>Quản Lý Liên Hệ</a>
                        </li>
                        <li>
                            <a href="/Admin/Ad"><i class="fa fa-columns"></i>Quản Lý Quảng Cáo</a>
                        </li>
                        <li>
                            <a href="/Admin/FeedBack"><i class="fa fa-columns"></i>Quản Lý Góp Ý</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
