
@{
   
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Không tìm thấy nội dung !</title>
    <link rel="stylesheet" href="~/assets/web/news-css/style.css">
</head>
<body>
    <div class="container">
        <h2>Lỗi! Trang không tìm thấy.</h2>
        <h1>404</h1>
        <p>Chúng tôi không thể tìm thấy trang bạn đã tìm kiếm.</p>
        <a href="/">Trở về trang chủ</a>
    </div>
</body>
</html>
